{% extends "auth-base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block auth_content %}
<div class="login-layout auth-login">

    <!-- Imagen izquierda -->
    <div class="login-visual auth-register">
        <img src="{{ url_for('static', filename='img/fondo_login.png') }}" alt="Portal de Idiomas">
        <div class="image-credit">
            Imagen: El Mundo · Remedios Varo (1958)
        </div>
    </div>

    <!-- Panel derecho -->
    <div class="login-panel">

        <h1 class="login-title">Portal de Idiomas</h1>

        <div class="login-card">
            <h2>Accede a tu cuenta</h2>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="flash-alert alert {{ category }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <form method="POST">

                <div class="form-group-auth ">
                    <label>E-mail</label>
                    <input type="email" name="email" placeholder="Ejemplo: email@unam.mx" required>
                </div>

                <div class="form-group-auth ">
                    <label>Contraseña</label>

                    <div class="input-wrapper">
                        <input type="password" name="password" id="password" placeholder="Ingresa tu contraseña"
                            required>

                        <button type="button" id="togglePassword" class="toggle-password">

                            <img id="eyeIcon" src="{{ url_for('static', filename='img/view.png') }}"
                                alt="Ver contraseña">
                        </button>
                    </div>
                </div>

                <button class="btn-primary" type="submit">
                    INICIAR SESIÓN
                </button>
            </form>

            <div class="login-divider">
                <span>o bien</span>
            </div>

            <a href="{{ url_for('auth.register') }}" class="btn-secondary">
                REGÍSTRATE
            </a>

        </div>
    </div>
</div>
{% endblock %}