:root {
    /* Colores */
    --color-bg-dark: #1c1407;
    --color-panel: #241a0b;
    --color-accent: #e8d0a0;
    --color-input: #f3ead7;
    --color-text: #f8e8c8;
    --color-text-dark: #2b241c;
    --color-danger: #dc2626;


    /* Alerts */
    --alert-success: #6f9f5a;
    --alert-error: #c94a4a;
    --alert-warning: #d7a94a;
    --alert-info: #71a6dd;
    --alert-validation: #b9825a;
    --alert-security: #8f6bb8;

    /* Sombras */
    --shadow-soft: 0 20px 40px rgba(0, 0, 0, 0.2);
    --shadow-sm: 0 2px 8px rgba(0, 0, 0, .08);
    --shadow-md: 0 8px 20px rgba(0, 0, 0, .12);

    /* Sidebar */
    --sidebar-width: 260px;
    --sidebar-collapsed: 80px;

    /* Espaciado */
    --space-xs: .5rem;
    --space-sm: .75rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;

    /* Bordes */
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 20px;

    /* Transiciones */
    --transition: all .25s ease;

    /* Icons */
    --icon-courses: url("/static/img/icons/courses.png");
    --icon-edit-light: url("/static/img/icons/edit-light.png");
    --icon-edit-dark: url("/static/img/icons/edit-dark.png");
    --icon-archived: url("/static/img/icons/archived.png");
    --icon-settings: url("/static/img/icons/settings.png");
    --icon-user: url("/static/img/icons/user.png");
    --icon-cloud-download-light: url("/static/img/icons/cloud-download-light.png");
    --icon-cloud-download-dark: url("/static/img/icons/cloud-download-dark.png");
    --icon-trash-light: url("/static/img/icons/trash-light.png");
    --icon-trash-dark: url("/static/img/icons/trash-dark.png");
    --icon-menu: url("/static/img/icons/menu-burger.png");
    --icon-settings: url("/static/img/icons/settings.png");
    --icon-user: url("/static/img/icons/user.png");
    --icon-back-arrow: url("/static/img/icons/angle-circle-left.png");
    --icon-inscribir: url("/static/img/icons/lesson.png");
    --icon-upload: url("/static/img/icons/folder-upload.png");
    --icon-horario: url("/static/img/icons/alarm-clock.png");
    --icon-material: url("/static/img/icons/books.png");
    --icon-descripcion: url("/static/img/icons/features.png");
    --icon-calificacion: url("/static/img/icons/stats.png");
    --icon-advertencia: url("/static/img/icons/triangle-warning.png");
    --icon-alumnos: url("/static/img/icons/users-alt.png");

}