{% extends "base.html" %}

{% block navbar %}
<div class="navbar">

    <h1>Administración de Profesores</h1>

    <div>
        <a href="{{ url_for('admin.dashboard') }}">Idiomas</a>

        <a href="{{ url_for('admin.profesores') }}">
            Profesores
        </a>

        <a href="{{ url_for('admin.crear_profesor') }}">
            Registrar profesor
        </a>

        <a href="{{ url_for('auth.logout') }}">
            Cerrar sesión
        </a>
    </div>

</div>
{% endblock %}


{% block content %}

<div class="card">

    <h2>Profesores registrados</h2>

    <p class="muted">
        Gestiona profesores, sueldos y eliminación.
    </p>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}

                <div class="flash-alert alert {{ category }}">
                    {{ message }}
                </div>

            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if profesores %}

    <table>

        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>E-mail</th>
            <th>Sueldo</th>
            <th>Acciones</th>
        </tr>

        {% for profesor in profesores %}

        <tr>

            <td>{{ profesor.id_profesor }}</td>

            <td>
                {{ profesor.nombre_completo }}
            </td>

            <td>{{ profesor.email }}</td>

            <td>

                <form
                    method="POST"
                    action="{{ url_for('admin.cambiar_sueldo',
                        id_profesor=profesor.id_profesor) }}"
                    class="inline-form"
                >

                    <input
                        type="number"
                        name="sueldo"
                        min="1"
                        step="0.01"
                        value="{{ profesor.sueldo }}"
                        required
                    >

                    <button type="submit">
                        Actualizar
                    </button>

                </form>

            </td>

            <td>

                <form
                    method="POST"
                    action="{{ url_for('admin.eliminar_profesor',
                        id_profesor=profesor.id_profesor) }}"
                    onsubmit="return confirm(
                        '¿Seguro que deseas eliminar este profesor?'
                    )"
                >

                    <button
                        type="submit"
                        class="danger-btn"
                    >
                        Eliminar
                    </button>

                </form>

            </td>

        </tr>

        {% endfor %}

    </table>

    {% else %}

    <p class="muted">
        No hay profesores registrados.
    </p>

    {% endif %}

</div>

{% endblock %}