<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de Alumnos</title>
</head>
<body>
    <h1>¡Hola Mundo!</h1>
    <p>Esto es un poco de texto
        veamos si hay:
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis facere odio itaque facilis at quas et doloremque! Odit voluptatem dicta natus dolor itaque iure. Velit quisquam obcaecati debitis. Provident, illo?
    </p>
</body>
</html>