<script>
    document.addEventListener("DOMContentLoaded", function () {
        setTimeout(function () {
            const alerts = document.querySelectorAll(".flash-alert");

            alerts.forEach(function (alert) {
                alert.style.transition = "opacity 0.5s ease";
                alert.style.opacity = "0";

                setTimeout(function () {
                    alert.remove();
                }, 300);
            });

        }, 3000);
    });
</script>

{% extends "base.html" %}

{% block navbar %}
<div class="navbar">
    <h1>Portal de Idiomas</h1>
</div>
{% endblock %}

{% block content %}
<div style="max-width: 400px; margin: 5rem auto;">
    <div class="card">
        <h2>Login</h2>
        <p class="muted">Accede a tu cuenta</p>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="flash-alert alert ">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form method="POST">
            <div class="form-group">
                <label>E-mail</label>
                <input type="email" name="email" required>
            </div>

            <div class="form-group">
                <label>Contraseña</label>

                <div class="input-wrapper">
                    <input type="password" name="password" id="password" required>
                    <button type="button" id="togglePassword" class="toggle-password">
                        <img id="eyeIcon" src="{{ url_for('static', filename='img/view.png') }}" alt="Show Password">
                    </button>
                </div>
            </div>

            

            <button type="submit">Iniciar sesión</button>
        </form>
    </div>
</div>
{% endblock %}