.btn-primary,
.btn-secondary {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 1rem;

    border: none;
    border-radius: 18px;

    text-decoration: none;
    cursor: pointer;

    font: inherit;
    font-weight: 700;
    font-size: 1rem;

    line-height: 1;
    box-sizing: border-box;

    appearance: none;
    -webkit-appearance: none;
    transition: var(--transition);
}

.btn-primary {
    background: var(--color-accent);
    color: var(--color-text-dark);
}

.btn-secondary {
    background: var(--color-accent);
    color: var(--color-text-dark);
}


/* .btn-primary {
    background: #5c5c3c;
    color: white;
    border: none;
    padding: 10px 24px;
    border-radius: var(--radius-sm);
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
}

.btn-primary:hover {
    background: #484829;
}

.btn-secondary {
    background: #f0f0f0;
    color: var(--color-header-text);
    border: 1px solid #e0e0e0;
    padding: 10px 24px;
    border-radius: var(--radius-sm);
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
}

.btn-secondary:hover {
    background: #e8e8e8;
} */